/* line 3, ../sass/slider.scss */
.slider {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden; }
  /* line 9, ../sass/slider.scss */
  .slider > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100; }
    /* line 17, ../sass/slider.scss */
    .slider > div.out {
      z-index: 10; }
      /* line 18, ../sass/slider.scss */
      .slider > div.out .el1, .slider > div.out .el2 {
        top: -10px;
        opacity: 0; }
      /* line 22, ../sass/slider.scss */
      .slider > div.out .el3 {
        opacity: 0;
        margin-top: 0; }
    /* line 28, ../sass/slider.scss */
    .slider > div.out2 {
      z-index: 10; }
      /* line 29, ../sass/slider.scss */
      .slider > div.out2 .el1, .slider > div.out2 .el2 {
        top: 120px;
        opacity: 0; }
      /* line 33, ../sass/slider.scss */
      .slider > div.out2 .el3 {
        opacity: 0;
        margin-top: 300px; }
    /* line 40, ../sass/slider.scss */
    .slider > div.noTransition .el1, .slider > div.noTransition .el2, .slider > div.noTransition .el3 {
      transition: none; }
  /* line 46, ../sass/slider.scss */
  .slider .el1 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: #f1c000;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 100;
    transition: all 0.65s; }
  /* line 58, ../sass/slider.scss */
  .slider .el2 {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #1abc9c;
    position: absolute;
    top: 40px;
    left: 150px;
    z-index: 110;
    transition: all 0.4s; }
  /* line 70, ../sass/slider.scss */
  .slider .el3 {
    transition: all 0.4s;
    margin-top: 120px; }