.height100{
  height: 108px;
}

.cetvrtak {
  background: url(../img/dani.png) 0px -71px no-repeat;
  display: block;
  width: 241px;
  height: 75px;
}

.kasice1 {
  margin: 25px auto;
  position: relative;
  background: url(../img/dani.png) -483px 0px no-repeat;
  display: block;
  width: 167px;
  height: 62px;
}

.kasice2 {
  margin: 25px auto;
  position: relative;
  background: url(../img/dani.png) -485px -64px no-repeat;
  display: block;
  width: 167px;
  height: 62px;
}

.kasice3 {
  margin: 25px auto;
  position: relative;
  background: url(../img/dani.png) -483px -256px no-repeat;
  display: block;
  width: 167px;
  height: 62px;
}

.kasice4 {
  margin: 25px auto;
  position: relative;
  background: url(../img/dani.png) -483px -128px no-repeat;
  display: block;
  width: 167px;
  height: 62px;
}

.kasice5 {
  margin: 25px auto;
  position: relative;
  background: url(../img/dani.png) -483px -320px no-repeat;
  display: block;
  width: 167px;
  height: 64px;
}

.kasice6 {
  margin: 25px auto;
  position: relative;
  background: url(../img/dani.png) -483px -192px no-repeat;
  display: block;
  width: 167px;
  height: 62px;
}

.petak {
  background: url(../img/dani.png) 0px -338px no-repeat;
  display: block;
  width: 174px;
  height: 57px;
}

.ponedeljak {
  background: url(../img/dani.png) 0px 0px no-repeat;
  display: block;
  width: 303px;
  height: 69px;
}

.smuti1 {
  position: relative;
  margin: 25px auto;
  background: url(../img/dani.png) -305px 0px no-repeat;
  display: block;
  width: 176px;
  height: 57px;
}

.smuti2 {
  position: relative;
  margin: 25px auto;
  background: url(../img/dani.png) -305px -59px no-repeat;
  display: block;
  width: 176px;
  height: 57px;
}

.smuti3 {
  position: relative;
  margin: 25px auto;
  background: url(../img/dani.png) 0px -279px no-repeat;
  display: block;
  width: 176px;
  height: 57px;
}

.smuti4 {
  position: relative;
  margin: 25px auto;
  background: url(../img/dani.png) -305px -118px no-repeat;
  display: block;
  width: 176px;
  height: 57px;
}

.smuti5 {
  position: relative;
  margin: 25px auto;
  background: url(../img/dani.png) -178px -279px no-repeat;
  display: block;
  width: 176px;
  height: 57px;
}

.smuti6 {
  position: relative;
  margin: 25px auto;
  background: url(../img/dani.png) -305px -177px no-repeat;
  display: block;
  width: 176px;
  height: 57px;
}

.sreda {
  background: url(../img/dani.png) 0px -397px no-repeat;
  display: block;
  width: 170px;
  height: 58px;
}

.subota {
  background: url(../img/dani.png) 0px -148px no-repeat;
  display: block;
  width: 215px;
  height: 61px;
}

.utorak {
  background: url(../img/dani.png) 0px -211px no-repeat;
  display: block;
  width: 207px;
  height: 66px;
}